# CODEOWNERS - auto-request reviews from chart maintainers on PRs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @HomeOpsHub

# GitHub Actions workflows
.github/workflows/ @HomeOpsHub

# Stable charts
charts/stable/ @HomeOpsHub

# Beta charts
charts/beta/ @HomeOpsHub
